<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <meta name='turbo-cache-control' content='no-cache'>

    <%= csrf_meta_tags %>

    <title><%= Trestle.config.site_title %></title>

    <%= stylesheet_link_tag "trestle/admin", 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "trestle/custom", 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag "trestle/omniauth", 'data-turbo-track': 'reload' %>

    <%= hook "auth.head" %>
  </head>

  <body class="auth-body theme-bg-dark">
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>